/* import das fontes */
 @font-face {
    font-family: inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
 }

 @font-face {
    font-family: titilliun-web-black;
    src: url(../assets/fonts/titilliun-web/TitilliumWeb-Black.ttf);
 }

 @font-face {
    font-family: quicksand;
    src: url(../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf);
 }


 /* reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* código genérico */
.layout-grid {
   width: 90%;
   margin: 0 auto;
   height: 100%;
}

/* header */

header {
    background-color: #1B1426;
    color: white;
    height: 60px;
}

header .header-top {
   display: none;
}

header .header-botton {
   height: 60px;
}

header nav {
   position: fixed;
   top: 60px;
   left: 0;
   width: 80vw;
   height: 100vh;
   background-color: grey;

   display: flex;
   flex-direction: column;
}

header .menu-usuarios {
   display: none;
}

header .contatos {
   display: none;
}
header .midias-sociais {
   display: none;
}


header .logo {
   height: 25px;
   width: 86px;
}

header .menu-hamburguer {
   height: 30px;
   width: 30px;
}


header .menu-bolinha {
   height: 10px;
   width: 30px;
}

.alinhamento-between-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
}