/* import das fontes */
 @font-face {
    font-family: inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
 }

 @font-face {
    font-family: titilliun-web-black;
    src: url(../assets/fonts/titilliun-web/TitilliumWeb-Black.ttf);
 }

 @font-face {
    font-family: quicksand;
    src: url(../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf);
 }


 /* reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* código genérico */
.layout-grid {
   width: 90%;
   margin: 0 auto;
   height: 100%;
}

/* header */

header {
    background-color: #1B1426;
    color: white;
    height: 60px;
}

header .header-top {
   display: none;
}

header nav {
   display: none;
}

header .menu-usuarios {
   display: none;
}

header .contatos {
   display: none;
}
header .midias-sociais {
   display: none;
}
